.btnDetails {
    font-size: 14px;
    padding: 7px 25px;

    border-radius: 5px;

    transition: all .35s;
    border: 1px solid #8a9199;
    color: #8a9199;
}

.btnDetails:hover {
    background: #8a9199;
    color: #fff;
}